*{
    margin: 0;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
$colors: red, blue, green, yellow, black, white,aqua,#0E1734,transparent;
$borders: solid, dotted, dashed, double, none;
$displays: flex, grid, inline, block, none;
$aligns: start, center, end, justify, stretch, space-around, space-between;

@for $i from 1 through 100 {
  .gap-#{$i} {
    gap: #{$i}px;
  }

  .text-#{$i} {
    font-size: #{$i}px;
  }

  .m-#{$i} {
    margin: $i * 5px;
  }

  .ml-#{$i} {
    margin-left: $i * 5px;
  }

  .mt-#{$i} {
    margin-top: $i * 5px;
  }

  .mb-#{$i} {
    margin-bottom: $i * 5px;
  }

  .mr-#{$i} {
    margin-right: $i * 5px;
  }

  .p-#{$i} {
    padding: $i * 5px;
  }

  .pl-#{$i} {
    padding-left: $i * 5px;
  }

  .pt-#{$i} {
    padding-top: $i * 5px;
  }

  .pb-#{$i} {
    padding-bottom: $i * 5px;
  }

  .pr-#{$i} {
    padding-right: $i * 5px;
  }
    .pr-#{$i} {
    padding-right: $i * 5px;
  }

  .px-#{$i} {
    padding-right: $i * 5px;
    padding-left: $i * 5px;
  }

  .py-#{$i} {
    padding-top: $i * 5px;
    padding-bottom: $i * 5px;
  }

  .w-#{$i} {
    width: $i * 10%;
  }

  .h-#{$i} {
    height: $i * 10px;
  }

  .rounded-#{$i} {
    border-radius: #{$i}px;
  }

  .border-#{$i} {
    border-width: #{$i}px;
  }

  .font-#{$i} {
    font-weight: $i * 10;
  }
}

@each $c in $colors {
  .text-#{$c} {
    color: $c;
  }

  .bg-#{$c} {
    background-color: $c;
  }
@each $b in $borders {
  .border-style-#{$b} {
    border-style: $b;
  }
  @each $b in $borders {
  .border-#{$b} {
    border-style: #{$b};
  }
}

@each $d in $displays {
  .d-#{$d} {
    display: #{$d};
  }
}

@each $a in $aligns {

  .text-#{$a} {
    text-align: $a;
  }

  .justify-#{$a} {
    justify-content: $a;
  }

  .items-#{$a} {
    align-items: $a;
  }

  .content-#{$a} {
    align-content: $a;
  }
}

.max-w-1200 {
  max-width: 1200px;
  margin: auto;
}

}
header{
  height: 100px;
  width: 90%;
  margin: auto;
  background-color: red;
}
}